node-red/.flows_CAI-SUP-L004.json.backup
[{"id":"150b1f15.45c8c1","type":"tab","label":"Flow 1"},{"id":"14862416.1e53ac","type":"tab","label":"Flow 1"},{"id":"5be0c1a5.f7bbb","type":"tab","label":"Smpp.Tx","disabled":false,"info":""},{"id":"1745716f.80345f","type":"tab","label":"Smpp.Rx","disabled":false,"info":""},{"id":"764b518e.6869","type":"tab","label":"Update Client","disabled":false,"info":""},{"id":"89579f6c.2b5ec","type":"tab","label":"DelOldDlrJob","disabled":false,"info":""},{"id":"5aed595f.2392e8","type":"tab","label":"delme","disabled":false,"info":""},{"id":"8d6dd31d.17609","type":"websocket-listener","z":"","path":"/ws/chat","wholemsg":"false"},{"id":"568e159d.289e1c","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"3e3d3ad1.7af226","type":"cequens-auth","z":"","name":"Undefined"},{"id":"b0ef5ddd.26cbe","type":"cequens","z":"14862416.1e53ac","name":"Send SMS","topic":"test","auth":"3e3d3ad1.7af226","from":"BDC","x":770.1001205444336,"y":205.40004205703735,"wires":[["11fafd90.66b622"]]},{"id":"11fafd90.66b622","type":"debug","z":"14862416.1e53ac","name":"","active":true,"console":"false","complete":"true","x":890,"y":360,"wires":[]},{"id":"121b715c.8b325f","type":"template","z":"14862416.1e53ac","name":"SMS Template AR","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"ضيفنا العزيز،\nأصدرت التذكرة الإلكترونية {{ETKT_NO}}\nللحجز {{NO_PNR_R_LOCATOR}}\nوبإمكانك استعراض الحجز عبر Saudia.com\n\nلخدمات الحجز والترفيه اللاسلكي حمل تطبيقات السعودية من: \nsaudia.com/app\n","x":492.1000099182129,"y":221.40001487731934,"wires":[["b0ef5ddd.26cbe"]]},{"id":"4b478a70.e74e04","type":"function","z":"14862416.1e53ac","name":"","func":"\nmsg.M_PHONE_NO=\"201003325373\"\nmsg.LANG=\"AR\"\nmsg.ETKT_NO=\"387638764\"\nmsg.NO_PNR_R_LOCATOR=\"386873683\"\n\n//-------------------------------------\n\nmsg.to=msg.M_PHONE_NO\nif(msg.LANG==\"AR\")\n{\n    msg.type=\"unicode\"\n}\nelse\n{\n    msg.type=\"text\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":198.10000610351562,"y":116.40001487731934,"wires":[["cc2d3a6f.995ff8"]]},{"id":"98202d44.e260d","type":"template","z":"14862416.1e53ac","name":"SMS Template EN","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Dear guest,\neTicket No {{ETKT_NO}} has been issued for Booking No: {{NO_PNR_R_LOCATOR}}\nReview booking details at Saudia.com\n\nFor booking and inflight entertainment download Saudia Apps from:\nsaudia.com/app\n","x":487.00001525878906,"y":156.00000476837158,"wires":[["b0ef5ddd.26cbe"]]},{"id":"318b3c4e.015834","type":"inject","z":"14862416.1e53ac","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":132.10001373291016,"y":37.800004959106445,"wires":[["4b478a70.e74e04"]]},{"id":"cc2d3a6f.995ff8","type":"switch","z":"14862416.1e53ac","name":"check msg type","property":"type","propertyType":"msg","rules":[{"t":"eq","v":"text","vt":"str"},{"t":"eq","v":"unicode","vt":"str"}],"checkall":"true","outputs":2,"x":213.10000610351562,"y":191.4000186920166,"wires":[["98202d44.e260d"],["121b715c.8b325f"]]},{"id":"2bcdf60.4e0ea0a","type":"template","z":"5be0c1a5.f7bbb","name":"SMS Template AR","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"ضيفنا العزيز،\nأصدرت التذكرة الإلكترونية {{ETKT_NO}}\nللحجز {{NO_PNR_R_LOCATOR}}\nوبإمكانك استعراض الحجز عبر Saudia.com\n\nلخدمات الحجز والترفيه اللاسلكي حمل تطبيقات السعودية من: \nsaudia.com/app\n","x":590,"y":240,"wires":[["ce21efa2.0396"]]},{"id":"589ba6a.e281a58","type":"function","z":"5be0c1a5.f7bbb","name":"Template.Filler","func":"\nmsg.M_PHONE_NO=\"201006683021\"\nmsg.LANG=\"AR\"\nmsg.ETKT_NO=\"387638764\"\nmsg.NO_PNR_R_LOCATOR=\"386873683\"\n\n\n//-------------------------------------\n\nmsg.destination_addr=msg.M_PHONE_NO\nif(msg.LANG==\"AR\")\n{\n    msg.data_coding=8 ;//\"unicode\"\n}\nelse\n{\n    msg.data_coding=3; //\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":260,"wires":[["71f6cb9b.8e07a4"]]},{"id":"2432405.46b56c","type":"template","z":"5be0c1a5.f7bbb","name":"SMS Template EN","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Dear guest,\neTicket No {{ETKT_NO}} has been issued for Booking No: {{NO_PNR_R_LOCATOR}}\nReview booking details at Saudia.com\n\nFor booking and inflight entertainment download Saudia Apps from:\nsaudia.com/app\n","x":590,"y":120,"wires":[["ce21efa2.0396"]]},{"id":"b1567ab5.981cc8","type":"inject","z":"5be0c1a5.f7bbb","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":80,"y":380,"wires":[["589ba6a.e281a58","3ec1b07b.4b6d3","581a88aa.fcdc98"]]},{"id":"71f6cb9b.8e07a4","type":"switch","z":"5be0c1a5.f7bbb","name":"check msg LANG","property":"LANG","propertyType":"msg","rules":[{"t":"eq","v":"EN","vt":"str"},{"t":"eq","v":"AR","vt":"str"}],"checkall":"true","outputs":2,"x":330,"y":180,"wires":[["2432405.46b56c"],["2bcdf60.4e0ea0a"]]},{"id":"ce21efa2.0396","type":"smpp out","z":"5be0c1a5.f7bbb","name":"ceq","host":"smpp.cequens.com","port":"2013","source_addr":"BDC3","data_coding":"1","registered_delivery":"7","x":790,"y":180,"wires":[["8bd7ba2c.17fb28"],["fae18a1e.e674a8"],[]]},{"id":"c8a10edd.2488d","type":"link in","z":"5be0c1a5.f7bbb","name":"SendSMS","links":[],"x":15,"y":180,"wires":[["71f6cb9b.8e07a4"]]},{"id":"8bd7ba2c.17fb28","type":"link out","z":"5be0c1a5.f7bbb","name":"submit_sm_handler","links":["9d9c310c.0e869"],"x":940.300048828125,"y":115.60000610351562,"wires":[]},{"id":"b698eddc.de1b9","type":"link in","z":"1745716f.80345f","name":"@Deliver_sm","links":["fae18a1e.e674a8"],"x":70.10000610351562,"y":604.7999877929688,"wires":[["c8778fb0.52ff7","4655a994.5a8e08"]]},{"id":"fae18a1e.e674a8","type":"link out","z":"5be0c1a5.f7bbb","name":"dlr_handler","links":["b698eddc.de1b9"],"x":935,"y":220,"wires":[]},{"id":"258680.421a598","type":"link in","z":"764b518e.6869","name":"update.esme","links":[],"x":415,"y":160,"wires":[["1582e3e6.44455c"]]},{"id":"1582e3e6.44455c","type":"debug","z":"764b518e.6869","name":"","active":true,"console":"false","complete":"true","x":570,"y":160,"wires":[]},{"id":"9d9c310c.0e869","type":"link in","z":"1745716f.80345f","name":"@submit_resp","links":["8bd7ba2c.17fb28"],"x":55,"y":120,"wires":[["30f0fdae.85cef2","aa54491c.1e4138"]]},{"id":"dd5cb3c7.1f284","type":"file","z":"1745716f.80345f","name":"File","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"true","x":790,"y":60,"wires":[]},{"id":"aa54491c.1e4138","type":"function","z":"1745716f.80345f","name":"SubmitRespData","func":"var ctx = this.context.global;\n\nreturn {\n    filename: ctx.get(\"tmpdir\") + ctx.get(\"pathSep\") + \"cequens\" + ctx.get(\"pathSep\") + msg.message_id,\n    payload:{\n        M_PHONE_NO: msg.M_PHONE_NO,\n        LANG: msg.LANG,\n        ETKT_NO: msg.ETKT_NO,\n        NO_PNR_R_LOCATOR: msg.NO_PNR_R_LOCATOR,\n        destination_addr: msg.destination_addr\n    }\n}","outputs":1,"noerr":0,"x":370,"y":120,"wires":[["dc6b153a.b07f38","1fcce0ad.77e1bf"]]},{"id":"5d6b0123.6ec16","type":"comment","z":"5be0c1a5.f7bbb","name":"@Deliver_sm","info":". Notify Customer by update his datastore\n. Remove file from our DLR Spool","x":990,"y":180,"wires":[]},{"id":"537093a4.661e2c","type":"comment","z":"5be0c1a5.f7bbb","name":"@Submit_sm_resp","info":". Add new file to the spool where   \n    . File name is the submit_resp msg.id\n    . File content (sender, recepient)","x":1014,"y":80,"wires":[]},{"id":"cda02d3a.06459","type":"comment","z":"1745716f.80345f","name":"When->Submit_sm_resp","info":"","x":110,"y":20,"wires":[]},{"id":"1bb7d2c5.2f953d","type":"comment","z":"1745716f.80345f","name":"When->Deliver_sm","info":"","x":90,"y":500,"wires":[]},{"id":"5f46959b.4434fc","type":"inject","z":"1745716f.80345f","name":"Test.Sub.resp","topic":"","payload":"{\"pdu\":{\"receipted_message_id\":\"test_file\" ,\"sender\":\"1234\" ,\"recepient\":\"456\" }}","payloadType":"json","repeat":"","crontab":"","once":false,"x":130,"y":160,"wires":[["aa54491c.1e4138"]]},{"id":"30f0fdae.85cef2","type":"debug","z":"1745716f.80345f","name":"","active":true,"console":"false","complete":"true","x":130,"y":60,"wires":[]},{"id":"a4217bab.cf3878","type":"inject","z":"1745716f.80345f","name":"Test.Deliver.sm","topic":"","payload":"{\"pdu\":{\"receipted_message_id\":\"test_file\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"x":158,"y":645,"wires":[["c8778fb0.52ff7"]]},{"id":"c076a4eb.0ca408","type":"file in","z":"1745716f.80345f","name":"READ(msg.id)","filename":"","format":"utf8","chunk":false,"sendError":true,"x":599,"y":605,"wires":[["c2bb7d6f.d0e3c","19d49202.01be0e"]]},{"id":"c8778fb0.52ff7","type":"function","z":"1745716f.80345f","name":"Dlr.Msg.ID","func":"var ctx = this.context.global;\nvar id = msg.pdu.receipted_message_id ||  msg.message_id ;\nreturn {\n    filename: ctx.get(\"tmpdir\") + ctx.get(\"pathSep\") + \"cequens\" + ctx.get(\"pathSep\") + id\n}","outputs":1,"noerr":0,"x":375,"y":606,"wires":[["c076a4eb.0ca408","f609ab22.c9b4b8"]]},{"id":"c2bb7d6f.d0e3c","type":"json","z":"1745716f.80345f","name":"","pretty":false,"x":778.5,"y":604,"wires":[["34e6548e.ce468c","75654a3c.6789b4","77200e67.c5fed"]]},{"id":"34e6548e.ce468c","type":"link out","z":"1745716f.80345f","name":"clientUpdate","links":[],"x":935,"y":580,"wires":[]},{"id":"4655a994.5a8e08","type":"debug","z":"1745716f.80345f","name":"","active":true,"console":"false","complete":"true","x":130,"y":540,"wires":[]},{"id":"75654a3c.6789b4","type":"file","z":"1745716f.80345f","name":"DEL(msg.id)","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"delete","x":990,"y":640,"wires":[]},{"id":"dc6b153a.b07f38","type":"debug","z":"1745716f.80345f","name":"","active":true,"console":"false","complete":"true","x":550,"y":60,"wires":[]},{"id":"f609ab22.c9b4b8","type":"debug","z":"1745716f.80345f","name":"","active":true,"console":"false","complete":"true","x":470,"y":540,"wires":[]},{"id":"19d49202.01be0e","type":"debug","z":"1745716f.80345f","name":"","active":true,"console":"false","complete":"true","x":710,"y":543,"wires":[]},{"id":"77200e67.c5fed","type":"debug","z":"1745716f.80345f","name":"","active":true,"console":"false","complete":"true","x":871,"y":544,"wires":[]},{"id":"e2d7ead.c3f5c18","type":"debug","z":"5aed595f.2392e8","name":"","active":true,"console":"false","complete":"true","x":570,"y":220,"wires":[]},{"id":"58f2fe2a.a06b2","type":"inject","z":"5aed595f.2392e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":180,"y":300,"wires":[["5e8d13e3.356a9c"]]},{"id":"5e8d13e3.356a9c","type":"OS","z":"5aed595f.2392e8","name":"","x":350,"y":300,"wires":[["7cfbe69b.218c58","751046b7.939168"]]},{"id":"7cfbe69b.218c58","type":"function","z":"5aed595f.2392e8","name":"","func":"\nreturn {\n        os_type: msg.payload.type,\n        tmpdir: msg.payload.tmpdir\n};","outputs":1,"noerr":0,"x":510,"y":300,"wires":[["e2d7ead.c3f5c18","cb94909f.83c7"]]},{"id":"751046b7.939168","type":"debug","z":"5aed595f.2392e8","name":"","active":true,"console":"false","complete":"true","x":350,"y":220,"wires":[]},{"id":"cb94909f.83c7","type":"switch","z":"5aed595f.2392e8","name":"","property":"os_type","propertyType":"msg","rules":[{"t":"cont","v":"Win","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":710,"y":300,"wires":[["dadb2126.3e54e"],["542bdceb.0b2974"]]},{"id":"be70514f.bd9d5","type":"debug","z":"5aed595f.2392e8","name":"","active":true,"console":"false","complete":"true","x":630,"y":660,"wires":[]},{"id":"ae986d5.2c29b9","type":"function","z":"5aed595f.2392e8","name":"getGlobalContext","func":"msg.payload = this.context.global.get(\"pathSep\")\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":660,"wires":[["be70514f.bd9d5"]]},{"id":"dadb2126.3e54e","type":"function","z":"5aed595f.2392e8","name":"SetGlobalContext(Windows)","func":"var ctx = this.context.global ;\nctx.set(\"pathSep\",\"\\\\\");\n","outputs":1,"noerr":0,"x":930,"y":240,"wires":[[]]},{"id":"542bdceb.0b2974","type":"function","z":"5aed595f.2392e8","name":"SetGlobalContext(Windows)","func":"var ctx = this.context.global ;\nctx.set(\"pathSep\",\"\\\\\");\n","outputs":1,"noerr":0,"x":940,"y":380,"wires":[[]]},{"id":"4b44d42c.e978fc","type":"inject","z":"5aed595f.2392e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":180,"y":660,"wires":[["ae986d5.2c29b9"]]},{"id":"3ec1b07b.4b6d3","type":"OS","z":"5be0c1a5.f7bbb","name":"getOS.type","x":310,"y":520,"wires":[["3fa09024.70a6c","c59cd9ce.662508"]]},{"id":"71f0db0d.ea8b44","type":"function","z":"5be0c1a5.f7bbb","name":"setSpoolDir(Windows)","func":"var globalContext = this.context.global;\nglobalContext.set(\"tmpdir\", msg.payload.tmpdir); \nglobalContext.set(\"pathSep\", \"\\\\\"); \n\n","outputs":1,"noerr":0,"x":700,"y":460,"wires":[["8678addb.92ee5"]]},{"id":"3fa09024.70a6c","type":"switch","z":"5be0c1a5.f7bbb","name":"os_type","property":"payload.type","propertyType":"msg","rules":[{"t":"cont","v":"Win","vt":"str"},{"t":"else"}],"checkall":"false","outputs":2,"x":500,"y":520,"wires":[["71f0db0d.ea8b44"],["daff99f3.f61e98"]]},{"id":"daff99f3.f61e98","type":"function","z":"5be0c1a5.f7bbb","name":"setSpoolDir(POSIX)","func":"var globalContext = this.context.global;\nglobalContext.set(\"tmpdir\", msg.payload.tmpdir); \nglobalContext.set(\"pathSep\", \"/\"); \n","outputs":1,"noerr":0,"x":700,"y":580,"wires":[["8678addb.92ee5"]]},{"id":"8678addb.92ee5","type":"debug","z":"5be0c1a5.f7bbb","name":"","active":true,"console":"false","complete":"true","x":880,"y":520,"wires":[]},{"id":"c59cd9ce.662508","type":"debug","z":"5be0c1a5.f7bbb","name":"","active":true,"console":"false","complete":"true","x":430,"y":600,"wires":[]},{"id":"8589427d.fd1b4","type":"link in","z":"5be0c1a5.f7bbb","name":"SendSMS","links":[],"x":15,"y":520,"wires":[["3ec1b07b.4b6d3"]]},{"id":"c7669802.d81d18","type":"comment","z":"5be0c1a5.f7bbb","name":"Main()","info":"","x":50,"y":140,"wires":[]},{"id":"de32d8d1.39d4c8","type":"comment","z":"5be0c1a5.f7bbb","name":"test.Main()","info":"","x":60,"y":340,"wires":[]},{"id":"505d6a79.3f53f4","type":"comment","z":"5be0c1a5.f7bbb","name":"Main().getOS()","info":"","x":80,"y":480,"wires":[]},{"id":"1e2f99b1.0cabe6","type":"comment","z":"5be0c1a5.f7bbb","name":"Main().DataStoreDriver()","info":"","x":110,"y":680,"wires":[]},{"id":"48c93e90.0700a","type":"link in","z":"5be0c1a5.f7bbb","name":"SendSMS","links":[],"x":15,"y":720,"wires":[["581a88aa.fcdc98"]]},{"id":"581a88aa.fcdc98","type":"function","z":"5be0c1a5.f7bbb","name":"Config[DataStoreType] =","func":"data_store_type = \"spool\" ; // in future it should support many others\n\nreturn {\n    data_store_type\n}","outputs":1,"noerr":0,"x":350,"y":720,"wires":[["7b35a528.218dbc"]]},{"id":"1fcce0ad.77e1bf","type":"switch","z":"1745716f.80345f","name":"DS.Type","property":"ds_type","propertyType":"global","rules":[{"t":"eq","v":"spool","vt":"str"},{"t":"else"}],"checkall":"false","outputs":2,"x":620,"y":120,"wires":[["dd5cb3c7.1f284"],[]]},{"id":"7b35a528.218dbc","type":"change","z":"5be0c1a5.f7bbb","name":"","rules":[{"t":"set","p":"ds_type","pt":"global","to":"data_store_type","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":720,"wires":[[]]},{"id":"50a2b79c.8120c8","type":"debug","z":"150b1f15.45c8c1","name":"","active":true,"console":"false","complete":"payload","x":552.1067810058594,"y":139.7109375,"wires":[]},{"id":"a51fc020.d3a19","type":"function","z":"150b1f15.45c8c1","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":256.1041564941406,"y":108.00520324707031,"wires":[[]]}]