node-red/flows_DESKTOP-B30PKJ2.json
[{"id":"4e992c55.ea5734","type":"tab","label":"Flow 1"},{"id":"12c85553.3dc80b","type":"tab","label":"Smpp.Tx","disabled":false,"info":""},{"id":"30560ad8.ad80e6","type":"tab","label":"Smpp.Rx","disabled":false,"info":""},{"id":"47fae863.7ae1e8","type":"tab","label":"Update Client","disabled":false,"info":""},{"id":"7410ab7.aa77654","type":"tab","label":"DelOldDlrJob","disabled":false,"info":""},{"id":"aea5e8d7.1a5518","type":"tab","label":"delme","disabled":false,"info":""},{"id":"2ed39f73.36b88","type":"websocket-listener","z":"","path":"/ws/chat","wholemsg":"false"},{"id":"a9346ab0.7df6d8","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"8dca4bb9.a48948","type":"cequens","z":"4e992c55.ea5734","name":"Send SMS","topic":"","auth":"","from":"BDC","x":770.1001205444336,"y":205.40004205703735,"wires":[["9c64d7eb.d749c8"]]},{"id":"9c64d7eb.d749c8","type":"debug","z":"4e992c55.ea5734","name":"","active":true,"console":"false","complete":"true","x":822.5000228881836,"y":409.60001373291016,"wires":[]},{"id":"9b177fa.ede068","type":"template","z":"4e992c55.ea5734","name":"SMS Template AR","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"ضيفنا العزيز،\nأصدرت التذكرة الإلكترونية {{ETKT_NO}}\nللحجز {{NO_PNR_R_LOCATOR}}\nوبإمكانك استعراض الحجز عبر Saudia.com\n\nلخدمات الحجز والترفيه اللاسلكي حمل تطبيقات السعودية من: \nsaudia.com/app\n","x":492.1000099182129,"y":221.40001487731934,"wires":[["8dca4bb9.a48948"]]},{"id":"f8988d1f.4ee59","type":"function","z":"4e992c55.ea5734","name":"","func":"\nmsg.M_PHONE_NO=\"201003325373\"\nmsg.LANG=\"AR\"\nmsg.ETKT_NO=\"387638764\"\nmsg.NO_PNR_R_LOCATOR=\"386873683\"\n\n//-------------------------------------\n\nmsg.to=msg.M_PHONE_NO\nif(msg.LANG==\"AR\")\n{\n    msg.type=\"unicode\"\n}\nelse\n{\n    msg.type=\"text\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":198.10000610351562,"y":116.40001487731934,"wires":[["65c520be.e2d4a"]]},{"id":"ecd69c4.22e676","type":"template","z":"4e992c55.ea5734","name":"SMS Template EN","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Dear guest,\neTicket No {{ETKT_NO}} has been issued for Booking No: {{NO_PNR_R_LOCATOR}}\nReview booking details at Saudia.com\n\nFor booking and inflight entertainment download Saudia Apps from:\nsaudia.com/app\n","x":487.00001525878906,"y":156.00000476837158,"wires":[["8dca4bb9.a48948"]]},{"id":"571f0966.c1fd98","type":"inject","z":"4e992c55.ea5734","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":132.10001373291016,"y":37.800004959106445,"wires":[["f8988d1f.4ee59"]]},{"id":"65c520be.e2d4a","type":"switch","z":"4e992c55.ea5734","name":"check msg type","property":"type","propertyType":"msg","rules":[{"t":"eq","v":"text","vt":"str"},{"t":"eq","v":"unicode","vt":"str"}],"checkall":"true","outputs":2,"x":213.10000610351562,"y":191.4000186920166,"wires":[["ecd69c4.22e676"],["9b177fa.ede068"]]},{"id":"97f87318.fc882","type":"template","z":"12c85553.3dc80b","name":"SMS Template AR","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"ضيفنا العزيز،\nأصدرت التذكرة الإلكترونية {{ETKT_NO}}\nللحجز {{NO_PNR_R_LOCATOR}}\nوبإمكانك استعراض الحجز عبر Saudia.com\n\nلخدمات الحجز والترفيه اللاسلكي حمل تطبيقات السعودية من: \nsaudia.com/app\n","x":590,"y":240,"wires":[["fbd1a8e0.edea08"]]},{"id":"90cc30be.5e4a7","type":"function","z":"12c85553.3dc80b","name":"Template.Filler","func":"\nmsg.M_PHONE_NO=\"201006683021\"\nmsg.LANG=\"AR\"\nmsg.ETKT_NO=\"387638764\"\nmsg.NO_PNR_R_LOCATOR=\"386873683\"\n\n\n//-------------------------------------\n\nmsg.destination_addr=msg.M_PHONE_NO\nif(msg.LANG==\"AR\")\n{\n    msg.data_coding=8 ;//\"unicode\"\n}\nelse\n{\n    msg.data_coding=3; //\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":260,"wires":[["fec42baa.caab28"]]},{"id":"74ef86c3.a53628","type":"template","z":"12c85553.3dc80b","name":"SMS Template EN","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Dear guest,\neTicket No {{ETKT_NO}} has been issued for Booking No: {{NO_PNR_R_LOCATOR}}\nReview booking details at Saudia.com\n\nFor booking and inflight entertainment download Saudia Apps from:\nsaudia.com/app\n","x":590,"y":120,"wires":[["fbd1a8e0.edea08"]]},{"id":"972cc244.55993","type":"inject","z":"12c85553.3dc80b","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":80,"y":380,"wires":[["90cc30be.5e4a7","bd31866d.9faa58","c35212a4.a0611"]]},{"id":"fec42baa.caab28","type":"switch","z":"12c85553.3dc80b","name":"check msg LANG","property":"LANG","propertyType":"msg","rules":[{"t":"eq","v":"EN","vt":"str"},{"t":"eq","v":"AR","vt":"str"}],"checkall":"true","outputs":2,"x":330,"y":180,"wires":[["74ef86c3.a53628"],["97f87318.fc882"]]},{"id":"fbd1a8e0.edea08","type":"smpp out","z":"12c85553.3dc80b","name":"ceq","host":"smpp.cequens.com","port":"2013","source_addr":"BDC3","data_coding":"1","registered_delivery":"7","x":790,"y":180,"wires":[["d3746816.3b9608"],["60a9c7a5.9f7b78"],[]]},{"id":"19b809ba.1ec206","type":"link in","z":"12c85553.3dc80b","name":"SendSMS","links":[],"x":15,"y":180,"wires":[["fec42baa.caab28"]]},{"id":"d3746816.3b9608","type":"link out","z":"12c85553.3dc80b","name":"submit_sm_handler","links":["b6e6e410.3d6e68"],"x":940.300048828125,"y":115.60000610351562,"wires":[]},{"id":"3ffe236.ae0b9dc","type":"link in","z":"30560ad8.ad80e6","name":"@Deliver_sm","links":["60a9c7a5.9f7b78"],"x":70.10000610351562,"y":604.7999877929688,"wires":[["a2b947c9.dae8c8","2c9c0cac.360b94"]]},{"id":"60a9c7a5.9f7b78","type":"link out","z":"12c85553.3dc80b","name":"dlr_handler","links":["3ffe236.ae0b9dc"],"x":935,"y":220,"wires":[]},{"id":"20326676.35419a","type":"link in","z":"47fae863.7ae1e8","name":"update.esme","links":[],"x":415,"y":160,"wires":[["dfd501f5.e9e6d"]]},{"id":"dfd501f5.e9e6d","type":"debug","z":"47fae863.7ae1e8","name":"","active":true,"console":"false","complete":"true","x":570,"y":160,"wires":[]},{"id":"b6e6e410.3d6e68","type":"link in","z":"30560ad8.ad80e6","name":"@submit_resp","links":["d3746816.3b9608"],"x":55,"y":120,"wires":[["a5f07ded.1c02f","6dfd639d.6d3fdc"]]},{"id":"56a7f705.4a0c58","type":"file","z":"30560ad8.ad80e6","name":"File","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"true","x":790,"y":60,"wires":[]},{"id":"6dfd639d.6d3fdc","type":"function","z":"30560ad8.ad80e6","name":"SubmitRespData","func":"var ctx = this.context.global;\n\nreturn {\n    filename: ctx.get(\"tmpdir\") + ctx.get(\"pathSep\") + \"cequens\" + ctx.get(\"pathSep\") + msg.message_id,\n    payload:{\n        M_PHONE_NO: msg.M_PHONE_NO,\n        LANG: msg.LANG,\n        ETKT_NO: msg.ETKT_NO,\n        NO_PNR_R_LOCATOR: msg.NO_PNR_R_LOCATOR,\n        destination_addr: msg.destination_addr\n    }\n}","outputs":1,"noerr":0,"x":370,"y":120,"wires":[["1f596615.82f92a","3ca3f5f5.65614a"]]},{"id":"2444cfc8.667dd","type":"comment","z":"12c85553.3dc80b","name":"@Deliver_sm","info":". Notify Customer by update his datastore\n. Remove file from our DLR Spool","x":990,"y":180,"wires":[]},{"id":"8041a084.ee8eb","type":"comment","z":"12c85553.3dc80b","name":"@Submit_sm_resp","info":". Add new file to the spool where   \n    . File name is the submit_resp msg.id\n    . File content (sender, recepient)","x":1014,"y":80,"wires":[]},{"id":"19478390.c14e7c","type":"comment","z":"30560ad8.ad80e6","name":"When->Submit_sm_resp","info":"","x":110,"y":20,"wires":[]},{"id":"71a96d79.df1b84","type":"comment","z":"30560ad8.ad80e6","name":"When->Deliver_sm","info":"","x":90,"y":500,"wires":[]},{"id":"7f9265de.0259dc","type":"inject","z":"30560ad8.ad80e6","name":"Test.Sub.resp","topic":"","payload":"{\"pdu\":{\"receipted_message_id\":\"test_file\" ,\"sender\":\"1234\" ,\"recepient\":\"456\" }}","payloadType":"json","repeat":"","crontab":"","once":false,"x":130,"y":160,"wires":[["6dfd639d.6d3fdc"]]},{"id":"a5f07ded.1c02f","type":"debug","z":"30560ad8.ad80e6","name":"","active":true,"console":"false","complete":"true","x":130,"y":60,"wires":[]},{"id":"91e905ad.d240c8","type":"inject","z":"30560ad8.ad80e6","name":"Test.Deliver.sm","topic":"","payload":"{\"pdu\":{\"receipted_message_id\":\"test_file\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"x":158,"y":645,"wires":[["a2b947c9.dae8c8"]]},{"id":"859692f3.a7f5e","type":"file in","z":"30560ad8.ad80e6","name":"READ(msg.id)","filename":"","format":"utf8","chunk":false,"sendError":true,"x":599,"y":605,"wires":[["e3d0a457.44fbc8","ea2ad9b6.cde3c8"]]},{"id":"a2b947c9.dae8c8","type":"function","z":"30560ad8.ad80e6","name":"Dlr.Msg.ID","func":"var ctx = this.context.global;\nvar id = msg.pdu.receipted_message_id ||  msg.message_id ;\nreturn {\n    filename: ctx.get(\"tmpdir\") + ctx.get(\"pathSep\") + \"cequens\" + ctx.get(\"pathSep\") + id\n}","outputs":1,"noerr":0,"x":375,"y":606,"wires":[["859692f3.a7f5e","5461237a.5dcb9c"]]},{"id":"e3d0a457.44fbc8","type":"json","z":"30560ad8.ad80e6","name":"","pretty":false,"x":778.5,"y":604,"wires":[["7b7fc50.9cd493c","832248cf.b6cee8","c16e1846.01b8f8"]]},{"id":"7b7fc50.9cd493c","type":"link out","z":"30560ad8.ad80e6","name":"clientUpdate","links":[],"x":935,"y":580,"wires":[]},{"id":"2c9c0cac.360b94","type":"debug","z":"30560ad8.ad80e6","name":"","active":true,"console":"false","complete":"true","x":130,"y":540,"wires":[]},{"id":"832248cf.b6cee8","type":"file","z":"30560ad8.ad80e6","name":"DEL(msg.id)","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"delete","x":990,"y":640,"wires":[]},{"id":"1f596615.82f92a","type":"debug","z":"30560ad8.ad80e6","name":"","active":true,"console":"false","complete":"true","x":550,"y":60,"wires":[]},{"id":"5461237a.5dcb9c","type":"debug","z":"30560ad8.ad80e6","name":"","active":true,"console":"false","complete":"true","x":470,"y":540,"wires":[]},{"id":"ea2ad9b6.cde3c8","type":"debug","z":"30560ad8.ad80e6","name":"","active":true,"console":"false","complete":"true","x":710,"y":543,"wires":[]},{"id":"c16e1846.01b8f8","type":"debug","z":"30560ad8.ad80e6","name":"","active":true,"console":"false","complete":"true","x":871,"y":544,"wires":[]},{"id":"62b2c851.117bb8","type":"debug","z":"aea5e8d7.1a5518","name":"","active":true,"console":"false","complete":"true","x":570,"y":220,"wires":[]},{"id":"acb5aa38.8f41b8","type":"inject","z":"aea5e8d7.1a5518","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":180,"y":300,"wires":[["98255042.dcfc6"]]},{"id":"98255042.dcfc6","type":"OS","z":"aea5e8d7.1a5518","name":"","x":350,"y":300,"wires":[["b9d1a26c.8b324","80db9963.258cb8"]]},{"id":"b9d1a26c.8b324","type":"function","z":"aea5e8d7.1a5518","name":"","func":"\nreturn {\n        os_type: msg.payload.type,\n        tmpdir: msg.payload.tmpdir\n};","outputs":1,"noerr":0,"x":510,"y":300,"wires":[["62b2c851.117bb8","1761711f.d4092f"]]},{"id":"80db9963.258cb8","type":"debug","z":"aea5e8d7.1a5518","name":"","active":true,"console":"false","complete":"true","x":350,"y":220,"wires":[]},{"id":"1761711f.d4092f","type":"switch","z":"aea5e8d7.1a5518","name":"","property":"os_type","propertyType":"msg","rules":[{"t":"cont","v":"Win","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":710,"y":300,"wires":[["f9e16a7b.7ca1c8"],["be7bd3a8.a3f37"]]},{"id":"7a62fa09.1f0974","type":"debug","z":"aea5e8d7.1a5518","name":"","active":true,"console":"false","complete":"true","x":630,"y":660,"wires":[]},{"id":"d8d63eeb.62071","type":"function","z":"aea5e8d7.1a5518","name":"getGlobalContext","func":"msg.payload = this.context.global.get(\"pathSep\")\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":660,"wires":[["7a62fa09.1f0974"]]},{"id":"f9e16a7b.7ca1c8","type":"function","z":"aea5e8d7.1a5518","name":"SetGlobalContext(Windows)","func":"var ctx = this.context.global ;\nctx.set(\"pathSep\",\"\\\\\");\n","outputs":1,"noerr":0,"x":930,"y":240,"wires":[[]]},{"id":"be7bd3a8.a3f37","type":"function","z":"aea5e8d7.1a5518","name":"SetGlobalContext(Windows)","func":"var ctx = this.context.global ;\nctx.set(\"pathSep\",\"\\\\\");\n","outputs":1,"noerr":0,"x":940,"y":380,"wires":[[]]},{"id":"f5b7cc9b.ca0d9","type":"inject","z":"aea5e8d7.1a5518","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":180,"y":660,"wires":[["d8d63eeb.62071"]]},{"id":"bd31866d.9faa58","type":"OS","z":"12c85553.3dc80b","name":"getOS.type","x":310,"y":520,"wires":[["e146ff60.83e4a","d9568269.ccafb"]]},{"id":"ae86c94e.e47158","type":"function","z":"12c85553.3dc80b","name":"setSpoolDir(Windows)","func":"var globalContext = this.context.global;\nglobalContext.set(\"tmpdir\", msg.payload.tmpdir); \nglobalContext.set(\"pathSep\", \"\\\\\"); \n\n","outputs":1,"noerr":0,"x":700,"y":460,"wires":[["c4e5c438.16de28"]]},{"id":"e146ff60.83e4a","type":"switch","z":"12c85553.3dc80b","name":"os_type","property":"payload.type","propertyType":"msg","rules":[{"t":"cont","v":"Win","vt":"str"},{"t":"else"}],"checkall":"false","outputs":2,"x":500,"y":520,"wires":[["ae86c94e.e47158"],["e983b399.f07b6"]]},{"id":"e983b399.f07b6","type":"function","z":"12c85553.3dc80b","name":"setSpoolDir(POSIX)","func":"var globalContext = this.context.global;\nglobalContext.set(\"tmpdir\", msg.payload.tmpdir); \nglobalContext.set(\"pathSep\", \"/\"); \n","outputs":1,"noerr":0,"x":700,"y":580,"wires":[["c4e5c438.16de28"]]},{"id":"c4e5c438.16de28","type":"debug","z":"12c85553.3dc80b","name":"","active":true,"console":"false","complete":"true","x":880,"y":520,"wires":[]},{"id":"d9568269.ccafb","type":"debug","z":"12c85553.3dc80b","name":"","active":true,"console":"false","complete":"true","x":410,"y":580,"wires":[]},{"id":"ef00b11f.3ac71","type":"link in","z":"12c85553.3dc80b","name":"SendSMS","links":[],"x":15,"y":520,"wires":[["bd31866d.9faa58"]]},{"id":"323b73ad.daa3bc","type":"comment","z":"12c85553.3dc80b","name":"Main()","info":"","x":50,"y":140,"wires":[]},{"id":"f0ac61e2.2d9f8","type":"comment","z":"12c85553.3dc80b","name":"test.Main()","info":"","x":60,"y":340,"wires":[]},{"id":"d14f4a0b.069978","type":"comment","z":"12c85553.3dc80b","name":"Main().getOS()","info":"","x":80,"y":480,"wires":[]},{"id":"3631925e.06740e","type":"comment","z":"12c85553.3dc80b","name":"Main().DataStoreDriver()","info":"","x":110,"y":680,"wires":[]},{"id":"d8e4bb8.80b0c48","type":"link in","z":"12c85553.3dc80b","name":"SendSMS","links":[],"x":15,"y":720,"wires":[["c35212a4.a0611"]]},{"id":"c35212a4.a0611","type":"function","z":"12c85553.3dc80b","name":"Config[DataStoreType] =","func":"data_store_type = \"spool\" ; // in future it should support many others\n\nreturn {\n    data_store_type\n}","outputs":1,"noerr":0,"x":350,"y":720,"wires":[["8103affd.b74f2"]]},{"id":"3ca3f5f5.65614a","type":"switch","z":"30560ad8.ad80e6","name":"DS.Type","property":"ds_type","propertyType":"global","rules":[{"t":"eq","v":"spool","vt":"str"},{"t":"else"}],"checkall":"false","outputs":2,"x":620,"y":120,"wires":[["56a7f705.4a0c58"],[]]},{"id":"8103affd.b74f2","type":"change","z":"12c85553.3dc80b","name":"","rules":[{"t":"set","p":"ds_type","pt":"global","to":"data_store_type","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":720,"wires":[[]]}]